@import "tailwindcss";

/* RESET BASE */
html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	background-color: #f4f7f5;
	font-family: "Inter", sans-serif;
}

/* PALETA GLOBAL */
:root {
	--primary: #059669; /* emerald-600 */
	--primary-hover: #047857; /* emerald-700 */
	--text-primary: #1f2937; /* gray-800 */
	--text-secondary: #6b7280; /* gray-500 */
	--background: #f4f7f5;
	--card-bg: #ffffff;
	--border-color: #e5e7eb;
}

/* Melhor renderização */
* {
	box-sizing: border-box;
}
